* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main {
    width: 100%;
}
#cursor {
    position: fixed;
    height: 6vw;
    width: 6vw;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    border-radius: 100%;
    /* transform: translate(-50%,-50%); */
}
#cursor p {
    font-size: 1vw;
    color: #dadada;
    font-weight: 800;
}

.starter {
    height: 100%;
    width:100%;
    position: fixed;
    top: 0;
    background: indianred;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.starter h3 {
    font-size: 6vw;
    color: azure;
}

.home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 0;
    background: whitesmoke;
    gap: 10px;
    padding: 5% 10%;
    text-align:center;
}
.home h3 span {
    color: indianred;
}
.home img{
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    margin-top: auto;
    margin-bottom:50px;
    height: 10%;
    display: flex;
    justify-content: space-between;
}
.footer .icons {
    width: 30%;
    align-items: center;
    display: flex;
}
.footer .menu-icon {
    align-items: center;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

ul li {
    list-style: none;
    cursor: pointer;
}
.footer .icons .icon img {
    width:20px;
    height:20px;
    margin: 2px;
}

.menu-icon {
    width: 50%;
    justify-content: right;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.line {
    width: 30px;
    height: 2px;
    background-color: #020000;
    margin: 3px 0;
    transition: 0.5s;
}
.change .line {
    background-color:indianred;
}
.change .line:nth-child(1){
    transform: rotate(-45deg) translate(-5px,6px);
    transition: all ease .5s;
}
.change .line:nth-child(2){
    opacity: 0;
}
.change .line:nth-child(3){
    transition: all ease .5s;
    transform: rotate(45deg) translate(-5px,-6px);
}


.about {
    display: none;
    z-index: 90;
    width: 100%;
    height: 100vh;
    background-color: #000000b9;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.about ul{
    width: 1vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    cursor: pointer;
    bottom: 1vh;
    left: 0vw;
}
.menuOpen .about {
    display: flex;
}
.about ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.about ul li {
    padding: 2dvh;
    font-size: 4vh;
    margin-top: 10vh;
    font-weight: 900;
    box-shadow: 10px;
    border-radius: 5%;
    color: #dadada;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}




/* portfolio  */





#portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #000;
    color: #dadada;
    padding: 5%;
}
.heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 5%;
}
h5 {
    padding-top: 4px;
    padding-bottom: 2%;
}
.heading h1 {
    color: indianred;
}
.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    padding: 1% 5% 10px;
    margin-top: 1vh;
}
.button li {
    margin-right: 4px;
    padding: 4px;
    margin-bottom: 1%;
    border-radius: 1vh;
    font-weight:lighter;
    font-size: small;
    color: indianred;
    height: max-content;
    background-color:whitesmoke;
}
#main .button li:active{
    background-color:darkgray;
}
p {
    color: #dadada;
    font-weight: 500;
    width: 100%;
    padding-left: 5%;
    padding-top: 1%;
}

.project {
    border-top: 0.5px solid rgb(94, 17, 17);
    border-bottom: 0.5px solid rgb(94, 17, 17);
}
.projectImg,.projects-field h3 {
    width: 100%;
    padding: 5%;
    padding-bottom: 2%;
}
#projects-field {
    color: indianred;
    width: 100%;
}
.project {
    width: 100%;
}
@media (min-width:500px) {
    .project {
        background: #000;
        width: 50%;
    }
    .projectImg {
        width: 100%;
        height: 300px;
        object-fit: fill;
        object-position: center;
        overflow: hidden;
    }
    #projects-field {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 5%;
    }
}

.portfolio-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding-top: 8vh;
    height: 15vh;
}


.portfolio-footer h4 {
    color: indianred;
}
span {
    color: rgb(251, 200, 200);
}
.home-button {
    margin-top: 20px;
    color: indianred;
    text-decoration: underline;
}